 h1, h3, .gameOver, .movie-container, .rating-container{
    text-align: center;
}

html, body {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: lightblue;
}

.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    background: slategrey;
}

.title{
    font-size: 2rem;
    color: yellow;
    margin: 1;
}

.score, .questionNum{
    color: white;
}

.score{
    margin: 10px;
}

.rating {
    color: white;
    background-color: salmon;
    margin: 50px;
    width: 100px;
    height: 100px;
    border-radius: 10px;  
    box-shadow: teal 5px 15px 15px;
}

.btn:hover {
  border-color: black;
  background-color: sandybrown;
  cursor: pointer;
}

.start-btn, .reset-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    background-color: rgb(219, 165, 6);
    box-shadow: rgb(242, 219,131) 3px 5px 5px;
    
}

.gameControls {
    display: flex;
    justify-content: center;
    align-items: center;
}


.hide {
    display: none;
} 

