body{
    background-color: #262a35;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}

h1 {
    font-size: 5rem;
    color: rgb(219, 165, 6);
    margin-bottom: 5rem;
}

h2{
    font-size: 4rem;
    margin-bottom: 4rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.btn {
    font-size: 2.4rem;
    padding: 2rem 0;
    width: 30rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: rgb(28,26,26);
    background-color: rgb(219, 165, 6);
    border-radius: 4px;
} 

.info1 {
    font-size: 1.4rem;
    margin: 3rem;
    color: white;
    text-align: center;
}
